@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700');

body {
    background: #212121;
    font-family: 'Oswald', sans-serif;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6rem;
}

* {
    padding: 0;
    margin: 0;
}

main {
    padding-top: 32px;
    padding-bottom: 32px;
}


.container {
    max-width: 960px;
    padding: 8px;
    margin: 0 auto;
    display: block;
}

.container.carousel {
    margin-top: 64px;
    text-align: center;
}

.container.aftertoolbar {
    margin-top: 64px;
}

.container.toolbar {
    padding-top: 16px;
    padding-bottom: 16px;

}

header {
    position: fixed;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    color: #fff;
    z-index: 100;
    line-height: 22px;
    font-size: 26px;
    text-transform: uppercase;
    background: linear-gradient(to bottom, #000000 0%,rgba(0,0,0,0) 100%);
}


header img {
    height: 22px;
}

.title {
    color: #e4de1a;
}

.card {
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.card.seasons {
    position: relative;
    height: 160px;
    width: 320px;
    transition-property: font-size, transform;
    transition-duration: .1s;
    transition-timing-function: linear;
}

.card.seasons:hover {
    transform: scale(1.1, 1.1);
    z-index: 100;
    font-size: .8rem;
}

.card.seasons .overlay {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    background: #000;
    width: 100%;
    height: 100%;
}

.card.seasons h1 {
    position: absolute;
    text-transform: uppercase;
    color: white;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.homeshortcut {
    text-decoration: none;
    color: #fff;
}

.title {
    margin-bottom: 32px;
}

.episodeviewer {
    display: inline-block;
    width: calc(100% - 32px);
    height: auto;
    vertical-align: middle;
    padding: 16px;
    margin-bottom: 8px;
}

.episodeviewer:hover {
    transform: scale(1.02, 1.02);
}

.episodeviewer h3 {
    display: inline;
    padding-left: 32px;
}

@media (max-width: 336px) {
    .card {
        width: 100%;
        margin-bottom: 8px;
    }
}

html {
  height: 100%;
  box-sizing: border-box;
}

footer {
    background: #000;
    color: #fff;
    font-weight: normal;
    font-size: .8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
footer.em {
    font-weight: lighter;
}
.em span {
    font-weight: bolder;
    color: yellow;
}
